%h1 Recogniser
%p To successfully log-in, use your mobile and show it a circle, rectangle and then your face

= link_to 'Using webcam', recog_begin_path('webcam'), class: "btn btn-primary"
= link_to 'Using mobile', recog_begin_path('mobile'), class: "btn btn-primary"