%h1 Webcam recogniser
%p To successfully log-in, use your webcam and show it the required pictures.
= render 'camera'
:javascript
  function loggedIn(image, restart) {
    $('#accepted').attr('class', 'ok');
  }

  $(document).ready(function(){
    startWebcamScan({
      camera: $("#camera"),
      preflightUrl: "#{Rails.application.config.server_url}/recog/#{params[:id]}",
      onPreflight: feedback,
      onPreflightComplete: loggedIn
    });
  });
